<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LIFF × Rails PoC</title>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "entrypoints/miniapps/main.tsx" %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
